
.header{
position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

#shopTradeIcon{
    position: absolute;
    height: 38px;
    width: 38px;
    top: 16px;
    bottom: 16px;
    border-radius: 0px;
    


padding-left: 25px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.header-nav{
    position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
padding-left: 37.77%;
margin-top: 27px;
margin-bottom: 27px;
line-height: 16px;
text-transform: capitalize;
text-align: center;
color: #000000;
display: flex;
justify-content: center;
align-items: center;
}

.header-right{
    padding-left: 87.5%;
}

.rectangle-2022{
    position: absolute;
width: 100%;
height: 53px;
left: 0px;
top: 70px;

background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);


}

.rectangle-2022-content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 17px;
    margin-bottom: 17px;
    /* identical to box height */
    padding-left: 22.569%;
    text-transform: capitalize;
    
    color: #FFFFFF;
}

.invite-now{
    position: absolute;
width: 94px;
height: 29px;
left: 72.8%;
top: 82px;
background: #FFFFFF;
border-radius: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;

color: #000000;
}

.invite-now-content{
    padding-top: 7%;
    padding-left: 15%;
}


.product-categories{
    font-family: 'Roboto';
font-style: normal;
padding-top: 144px;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: capitalize;

color: #000000;
}

.header-right-icons{
    padding: 0.5rem;
}

.search-header{
    display: inline;
    
}

.product-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-top: 1rem;
line-height: 23px;
text-transform: capitalize;

color: #000000;
}

.filter-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
padding-top: 2rem;
text-transform: capitalize;

color: #000000;
}

.bread-crumb-All-products{
    box-sizing: border-box;

position: absolute;
width: 115px;
height: 42px;
left: 103px;
top: 224px;

border: 1px solid #000000;
border-radius: 42px;
}

.bread-crumb-content-All-products{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
padding-left: 2rem;
    padding-top: 0.75rem;
/* identical to box height */

text-transform: capitalize;

color: #000000;
}

.bread-crumb-Tee-Shirt{
    position: absolute;
    width: 92px;
    height: 42px;
    left: 226px;
    top: 224px;
    
    border: 1px solid #C4C4C4;
    border-radius: 72px;
}
.bread-crumb-Denim{
    box-sizing: border-box;

    position: absolute;
    width: 75px;
    height: 42px;
    left: 326px;
    top: 224px;
    
    border: 1px solid #C4C4C4;
    border-radius: 72px;
}
.bread-crumb-Sweatshirts{
    box-sizing: border-box;

    position: absolute;
    width: 92px;
    height: 42px;
    left: 409px;
    top: 224px;
    
    border: 1px solid #C4C4C4;
    border-radius: 72px;
}
.bread-crumb-Polo{
    box-sizing: border-box;

    position: absolute;
    width: 115px;
    height: 42px;
    left: 509px;
    top: 224px;
    
    border: 1px solid #C4C4C4;
    border-radius: 72px;
}
.bread-crumb-Shirt{
    box-sizing: border-box;

    position: absolute;
    width: 65px;
    height: 42px;
    left: 632px;
    top: 224px;
    
    border: 1px solid #C4C4C4;
    border-radius: 72px;
}

.bread-crumb-content-Tee-Shirt{
    font-family: 'Roboto';
font-style: normal;
padding-left: 1.5rem;
    padding-top: 0.75rem;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: capitalize;

color: #878787;
}

.bread-crumb-content-Denim{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-top: 0.75rem;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #878787;
}

.bread-crumb-content-Sweatshirts{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
padding-left: 1.5rem;
    padding-top: 0.75rem;
line-height: 14px;
/* identical to box height */

text-transform: capitalize;

color: #878787;
}

.bread-crumb-content-Polo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-top: 0.75rem;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #878787;
}

.bread-crumb-content-Shirt{
   
padding-left: 1.5rem;
    padding-top: 0.75rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: capitalize;

color: #878787;

}

.bread-crumb-sort-by{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 42px;
left: 88%;
top: 224px;

border: 1px solid #000000;
border-radius: 32px;
}

.bread-crumb-content-sort-by{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: capitalize;

color: #000000;
}

.products-list {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
  }

  .item{
    padding-left: 1.25rem;
    
  }

  .items{
    display: flex;
    flex-wrap: wrap;
  }

  .desc{
    display: flex;
    flex-wrap: wrap;
    max-width: 16rem;
  }